.idea/
*.iml
.mvn/
target/
.DS_Store

node_modules/
package-lock.json

jena-tdb/
*.rdf
*.graphml
logs/
export/
import/
markdown/

src/main/resources/static/graph-query-visualizer/*
!src/main/resources/static/graph-query-visualizer/commit.version
