/*
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}
*/

table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

td {
  padding: 8px 0;
}

/*
table, th, td {
  border: 1px solid black;
}
*/

.namespace-field {
    color: silver;
    background-color: lightyellow;
    border: none;
}

.entity-field {
    color: darkblue;
}
