* {
  font-family: "Ubuntu", serif;
  background-color: darkslategray;
  color: white;
}

html {
  margin-left: 13px;
}

h2 {
  color: navajowhite;
}

tr.headline-row > td {
  padding-top: 1em;
  padding-bottom: 1em;
}

.action-btn {
  margin: 18px;
  padding: 8px;
  font-size: medium;
  font-weight: bold;
  background-color: dimgray;
  color: navajowhite;
}

.form-input-field {
  border: none;
  background-color: dimgray;
  padding: 5px;
}

.form-input-field-already-known {
  color: silver;
  font-size: small;
  width: 145px;
}

.form-input-field-computed {
  color: yellow;
  font-weight: bold;
  width: 145px;
}

.datapoint {
  font-size: small;
  margin: 0;
  background-color: dimgray;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

.fadeIn {
  opacity: 0;
  transition: opacity 2s;
}

.fadeIn.fade {
  opacity: 1;
}
