* {
  margin: 10px;
  font-family: "Ubuntu", serif;
  background-color: darkslategray;
  color: white;
}

h2 {
  color: navajowhite;
}

tr.headline-row > td {
  padding-top: 1em;
  padding-bottom: 1em;
}
